html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-weight: 400;
  -webkit-tap-highlight-color: transparent;

}

::selection {
  color: white;
  background: gray;
}


nav {
  position: fixed;
  width: 100%;
  padding: $s-spacing $m-spacing;
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
  z-index: 10;

  .logo {
    font-size: 40px;
  }
}